* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    height: 95px;
    width: 100%;
    border-bottom: 1px solid;
}

.container {
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 5px solid;
}

.row {
    flex: 1;
    display: flex;
}

button {
    width: 25%;
    border: 1px solid;
}

#clear {
    flex: 1;
}

#zero {
    flex: 1;
}