* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:25px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display-text {
    float: right;
    font-size: 30px;
}

.display {
    height: 95px;
    border-bottom: 1px solid;
    background-color: #ededed;
    display: flex;
    border-radius: 20px;
    margin-bottom: 10px;
}

.display-text-position {
    width: 95%;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
}

.container {
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.row {
    flex: 1;
    display: flex;
}

button {
    width: 25%;
    border: 3px solid #010172;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    border: 1px solid;
    filter: brightness(80%);
}

#clear {
    flex: 1;
}

#zero {
    flex: 1;
}